@media (max-width: 550px){
   
   /* -------------- MENÚ HAMBURGUESA ------------ */
   
    .abrir-menu, .cerrar-menu{
        display: block;
        border: 0;
        font-size: x-large;
        font-weight: 900;
        background: transparent;
        cursor: pointer;
        
        
    }

   /*.cartIcon{
       cursor: pointer;
       /*width: 40px;
       /*display: inline-block;
       /*display: block;

    }*/
  
  

   
   .nav {
    opacity: 0;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 1rem;
    position: absolute;
    top: 0;
    right: 0;
    background: whitesmoke;
    padding: 3rem;
   }

   .nav.visible{
    opacity: 1;
    visibility: visible;
   }

   .navList {
    flex-direction: column;
    align-items: end;
   }


   #Hero{
       flex-direction: column-reverse;
       justify-content: center;
       width: 100%;
       height: auto;
       max-width: 400px;
       gap: 2px;
   }

   #Hero .textHero{
       width: 100%;
       height: auto;
       max-width: 300px;
       text-align: center;
       align-items: center;
    }

    #Hero .textHero h1{
        margin-top: 2rem;
        font-size: 40px;
    }

    #Hero .textHero h2{
        font-size: 25px;
    }
   
    #Hero .textHero h3{
        font-size: 18px;
    }

    #Beneficios{
        flex-direction: column;
        width: 100%;
        height: auto;
        max-width: 400px;
    }


   #cardsBeneficios{
       flex-direction: column;
       width: 100%;
       height: auto;
       max-width: 250px;
   }

   #cardsBeneficios .cards{
       margin: 0 auto;
       width: 100%;
       height: auto;
       max-width: 330px;
       text-align: center;
   }

   #LibrosDisponibles{
       flex-direction: column;
   }

  

   #LibrosDisponibles p{
    text-align: center;
     width: 100%;
     height: auto;
     max-width: 300px;
     margin: 0 auto;
   }

   #LibrosDisponibles .categorias{
       flex-direction: column;
       
   }

   #Contacto{
       flex-direction: column;
       width: 100%;
       height: auto;
       max-width: 300px;
       margin: 0 auto;
    }
    footer{
        flex-direction: column;
        margin-top: 2rem;
        padding: 2rem;
    }
   
}
