*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: #FCFAF7
}

header{
    display: flex;
    justify-content: space-around;
    align-items: center; 
    background: rgba( 204, 200, 200, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    padding: 1rem;
}

header a img{
    width: 100%;
    height: auto;
    max-width: 250px;
}

.abrir-menu, .cerrar-menu{
    display: none;
}

#NavBar .navList{
    list-style: none;
    display: flex;
    gap: 3rem;
    font-size: 18px;
    font-weight: 600;
}

#NavBar .navList a {
    text-decoration: none;
    color: black;
}

#NavBar .navList a:hover{
    font-weight: 900;
}

/*----------- HERO ------------- */

#Hero{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 4rem;
}

#Hero .textHero{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#Hero .textHero h1{
    font-size: 47px;
    text-shadow: 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.2);
}
#Hero .textHero h2{
    font-size: 30px;
    text-shadow: 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.2);
}

#Hero .textHero h3{
    font-size: 20px;
    text-shadow: 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.2);
}

#Hero img{
    width: 100%;
    height: auto;
    max-width: 400px;
}

/*----------- BENEFICIOS ------------- */

#Beneficios{
    display: flex;
    justify-content: center;
    font-size: 20px;
    text-shadow: 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.2);
}


#cardsBeneficios{
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 2rem;
    margin-top: 4rem;
    margin-bottom: 5rem;
}

.cards{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #A3E0C8;
    border-radius: 10px;
    padding: 2rem;
    gap: 1rem;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.cards img{
    width: 100%;
    height: auto;
    max-width: 100px;
}

.cards h3{
    font-size: 25px;
    text-shadow: 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.1);
}

.cards p{
    font-size: 18px;
    line-height: 1.5;
    width: 100%;
    height: auto;
    max-width: 250px;
}

#cardsBeneficios .cards:hover{
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.6);
}



/*----------- LIBROS DISPONIBLES ------------- */

#LibrosDisponibles{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    gap: 2rem;
}

#LibrosDisponibles h2{
    text-shadow: 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.2);
}

.categorias{
    display: flex;
    gap: 2rem;
}

.category{
    padding: 0.5rem;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    font-size: 16px;
    font-weight: 500;
    background-color:#A3E0C8
}

.btnActive{
    font-weight: 900;
    padding: 0.5rem;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    font-size: 16px;
    font-weight: 500;
    background-color:#50d29e;
    
}


/*----------- LIBROS ------------- */

.librosContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    max-width: 1200px;
    gap: 2rem;
    margin-top: 2rem;
    margin-bottom: 3rem;
    padding: 3rem;
}

.libroCard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background: rgba( 204, 200, 200, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    padding: 1rem;
    border-bottom: #A3E0C8 5px solid;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.libroCard:hover{
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.6);
}

.libroCard img{
    width: 100%;
    height: auto;
    max-width: 150px;
    margin-top: 1rem;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.libroCard h3{
    text-align: center;
    font-size: 19px;
    line-height: 1.2;
    text-shadow: 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.2);
    width: 100%;
    height: auto;
    max-width: 11rem;
}

/*----------- BTN - VER MÁS------------- */

#BTNVerMas{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
}

.btnVerMas{
    width: 9rem;
    padding: 0.8rem;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    font-size: 16px;
    font-weight: 900;
    background-color:#A3E0C8/*CAMBIAR COLOR*/
}

.hidden{
    display: none;
}



/*----------- Contacto ------------- */

#Contacto{
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 4rem;
    margin-top: 6rem;
    margin-bottom: 1rem;
}

#Contacto .Formulario .inputGroup{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#Contacto h2{
    text-shadow: 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.2);
}

#Contacto img{
    margin-top: 2rem;
    width: 100%;
    height: auto;
    max-width: 400px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

#Contacto .inputGroup input{
    padding: 1rem;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

#Contacto .inputGroup .Mensaje{ 
    width: 100%;
    height: auto;
    max-width: 400px;
}

#Contacto img{
    width: 100%;
    height: auto;
    max-width: 300px;
    margin-bottom: 2rem;
}



/*----------- FOOTER ------------- */

footer{
    display: flex;
    bottom: 0;
    justify-content: space-around;
    align-items: center;
    background: rgba( 204, 200, 200, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}