*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
    
}

body{
    background-color: #FCFAF7;
    overflow-x: hidden; /* Para que no me genere un scroll horizontal el carrito.*/
}

header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 80px;
    align-items: center; 
    position: fixed;
    background-color: #FCFAF7;
    padding: 2rem;
    z-index: 2;
    top: 0;
    border-bottom: 2px solid black;
    -webkit-box-shadow: 5px 5px 3px 0px rgba(0,0,0,0.41);
    -moz-box-shadow: 5px 5px 3px 0px rgba(0,0,0,0.41);
    box-shadow: 5px 5px 3px 0px rgba(0,0,0,0.41);
    
}

.menu-label{
    display: none;
}

header a img{
    width: 100%;
    height: auto;
    max-width: 300px;
    padding: 2rem;
    margin-top: 1rem;
}


.abrir-menu{
    display: none;
    
}

.cerrar-menu{
    display: none;
    z-index: 4;
}

#NavBar{
    display: flex;
    justify-content: space-between;
    gap: 3rem;
}

#NavBar .navList{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 3rem;
    font-size: 18px;
    font-weight: 600;
}

#NavBar .navList a {
    text-decoration: none;
    color: black;
}

#NavBar .navList a:hover{
    font-weight: 900;
}



/*----------- CART ------------- */



.cartIcon{
    cursor: pointer;
    width: 40px;
    display: inline-block;
   
    
}

.cartBurbuja {
    font-weight: 600;
    border-radius: 10px;
    font-size: 18px;
    margin-right: 1rem;
    color: black;
    cursor: pointer;
    position: relative;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.cartIndicadorBurbuja{
    position: absolute;
    top: -8px;
    right: -8px;
    text-align: center;
    background: #A3E0C8;
    color: black;
    font-size: 10px;
    font-weight: 500;
    height: 18px;
    width: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 1px;
    border-radius: 50%;
}

.cart {
    position: absolute;
    top: 65px;
    right: 0;
    padding: 50px 30px;
    background: linear-gradient(to top, #121e3c);
    border-left: 1px solid black;
    display: flex;
    flex-direction: column;
    gap: 30px;
    height: calc(100vh - 65px);
    overflow-y: scroll;
    min-width: 375px;
    transform: translate(200%);
    transition: all 0.5s cubic-bezier(0.92, 0.01, 0.35, 0.99);
}

.cart-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    z-index: 2;
}

.cart::-webkit-scrollbar {
    display: none;
}

.divider {
    margin-top: 20px;
    border: 0.5px solid black;
    width: 100%;
}

.cart-total {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 100%;
}



.btn-comprar{
    padding: 0.5rem;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    font-size: 16px;
    font-weight: 500;
    background-color:#A3E0C8; //* VER COLOR*/
}

.btn-comprar:hover{
    background-color: #00A97F;
}

.btn-delete{
    padding: 0.5rem;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    font-size: 16px;
    font-weight: 500;
    background-color: whitesmoke; //* VER COLOR*/

}



.abrirCarrito{
    transform: translate(0%);
    transition: all 0.5s cubic-bezier(0.92, 0.01, 0.35, 0.99);
    z-index: 3;
    background: whitesmoke;
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    margin-top: 1rem;
}

.cart-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    background-color: whitesmoke; /* ver éste color*/
    padding: 20px;
    border: 1px solid black; 
    border-radius: 10px;
}
  
.cart-item img {
    width: 100%;
    height: auto;
    max-width: 40px;
    box-shadow: 5px 5px 3px 0px rgba(0,0,0,0.35);
    
}
  
.item-info {
    display: flex;
    flex-direction: column;
    min-width: 110px;
}
  
.item-title {
    color: black;
    font-weight: 600;
    font-size: 14px;
}
  
.item-bid {
    margin-top: 1rem;
    color: black;
    font-weight: 300;
    font-size: 16px;
}


  
.item-handler {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
  
.quantity-handler {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px 8px;
    border-radius: 5px;
    color: black;
    font-weight: 400;
}
  
.item-quantity {
    color: black;
}
  
.mas {
    border: 1px solid black;
    cursor: pointer;
}

.mas:hover{
    background-color: #00A97F; /* cambiar color*/
}
  
.menos {
    
    border: 1px solid black;
    cursor: pointer;
}

.menos:hover{
    background-color: #00A97F; /* cambiar color*/
}

.deshabilitar{
    background-color: gray;
    color: white;
    cursor: not-allowed;
    border: none;
}

    /*.overlay {
    /*    position: absolute;
    /*    top: 65px;
    /*    left: 0;
    /*    height: 100vh;
    /*    width: 100%;
    /*    z-index: 1; 
    /*    /*Efecto de Glassmorphismo*/
    /*    background: rgba(255, 255, 255, 0.05);
    /*    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    /*    backdrop-filter: blur(5px);
    /*    -webkit-backdrop-filter: blur(5px);
    /*    display: none;
    /*}
    /*
    /*.show-overlay {
    /*    display: block;
    /*  }

/*----------- HERO ------------- */

#Hero{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 4rem;
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
    
}

#Hero .textHero{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#Hero .textHero h1{
    font-size: 47px;
    text-shadow: 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.2);
    
}
#Hero .textHero h2{
    font-size: 30px;
    text-shadow: 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.2);
    
}

#Hero .textHero h3{
    font-size: 20px;
    text-shadow: 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.2);
    
}

.button {
    --color: #00A97F;
    padding: 0.5rem;
    background-color: transparent;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: .5s;
    font-weight: 400;
    font-size: 17px;
    border: 1px solid black;
    color: whitesmoke;
    z-index: 1;
    width: 100%;
    height: auto;
    max-width: 9rem;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
   
.button::before, .button::after {
    content: '';
    display: block;
    width: 50px;
    height: 50px;
    transform: translate(-50%, -50%);
    position: absolute;
    border-radius: 50%;
    z-index: -1;
    background-color: var(--color);
    transition: 1s ease;
}
   
.button::before {
    top: -1em;
    left: -1em;
}
   
.button::after {
    left: calc(100% + 1em);
    top: calc(100% + 1em);
}
   
.button:hover::before, .button:hover::after {
    height: 410px;
    width: 410px;
}
   
.button:hover {
    color: rgb(10, 25, 30);
}
   
.button:active {
    filter: brightness(.8);
}

.button a{
    text-decoration: none;
    color: black;
}
   


#Hero img{
    width: 100%;
    height: auto;
    max-width: 400px;
    margin-top: 4rem;
    
}

/*----------- BENEFICIOS ------------- */

#Beneficios{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 20px;
    width: 100%;
    height: auto;
    max-width: 1000px;
    margin: 2rem auto;
    gap: 0.5rem;
}

#Beneficios h3{
    font-size: 30px;
    text-shadow: 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.2);
    margin-bottom: 1rem;
}

#Beneficios p{
    line-height: 1.3;
}


#cardsBeneficios{
    display: flex;
    justify-content: center;
    align-items: stretch;
    text-align: center;
    gap: 2rem;
    margin: 2rem auto;
    width: 100%;
    height: auto;
    max-width: 1000px;
}

.cards{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(163, 224, 200, 0.5);
    border-radius: 10px;
    padding: 2rem;
    gap: 1rem;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    width: 100%;
    height: auto;
    max-width: 20rem;
    margin-bottom: 3rem;
    transition: transform 0.3s;
}

.cards img{
    width: 100%;
    height: auto;
    max-width: 100px;
}

.cards h3{
    font-size: 25px;
    text-shadow: 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.1);
}

.cards p{
    font-size: 18px;
    line-height: 1.5;
    width: 100%;
    height: auto;
    max-width: 250px;
}

#cardsBeneficios .cards:hover{
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.4);
    transform: scale(1.02);
    -webkit-transform: scale(1.02);
    -moz-transform: scale(1.02);
    -ms-transform: scale(1.02);
    -o-transform: scale(1.02);
    background-color: #00A97F;
    color: white;
}



/*----------- LIBROS DISPONIBLES ------------- */

#LibrosDisponibles{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    gap: 1.5rem;
}

#LibrosDisponibles h2{
    text-shadow: 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.2);
}

.categorias{
    display: flex;
    gap: 2rem;
}

.category{
    padding: 0.5rem;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    font-size: 16px;
    font-weight: 500;
    background-color:#A3E0C8
}

.btnComprarLibro{
    padding: 0.5rem;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    font-size: 16px;
    font-weight: 500;
    background-color:#A3E0C8
}

.btnComprarLibro:hover{
    background-color:#00A97F;
}

.btnActive{
    font-weight: 900;
    padding: 0.5rem;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    font-size: 16px;
    font-weight: 500;
    background-color:#50d29e;
    
}


/*----------- LIBROS ------------- */

.librosContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    max-width: 1200px;
    gap: 2rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    padding: 3rem;
}

.libroCard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background: rgba( 204, 200, 200, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    padding: 1rem;
    border-bottom: #A3E0C8 5px solid;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.libroCard:hover{
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.6);
}

.libroCard img{
    width: 100%;
    height: auto;
    max-width: 150px;
    margin-top: 1rem;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.libroCard h3{
    text-align: center;
    font-size: 19px;
    line-height: 1.2;
    text-shadow: 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.2);
    width: 100%;
    height: auto;
    max-width: 11rem;
}

/*----------- BTN - VER MÁS------------- */

#BTNVerMas{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
}

.btnVerMas{
    width: 9rem;
    padding: 0.8rem;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    font-size: 16px;
    font-weight: 900;
    background-color:#A3E0C8/*CAMBIAR COLOR*/
}

.btnVerMas:hover{
    background-color: #00A97F;
}

.hidden{
    display: none;
}



/*----------- Contacto ------------- */

#Contacto{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: auto;
    max-width: 1200px;
    margin: 4rem auto;
}

#Contacto img{
    width: 100%;
    height: auto;
    max-width: 300px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}


.inputGroup, input, textarea{
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    width: 100%;
    height: auto;
    max-width: 20rem;
    resize: none;
    
}

.Enviar{
    width: 5rem;
    padding: 0.8rem;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    font-size: 16px;
    font-weight: 900;
    background-color:#A3E0C8;
}

.Enviar:hover{
    background-color: #00A97F;
}

.form_field.error input{
    border: 1px solid red;
}

.form_field small{
    color: red;
    max-width: 350px;
    text-align: center;
    display: none;
    margin-bottom: 1rem;
}

.form_field.success input{
    border: 1px solid green;
}

#form_error{
    color: red;
    font-size: 1rem;
    margin:  8px 0px;
    max-width: 350px;
    text-align: center;
}


/*----------- Mensaje Modal ------------- */
.addModal {
    padding: 15px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: #00A97F;
    position: fixed;
    bottom: 0;
    width: 100%;
    transition: all 0.5s ease-out;
    transform: translateY(200%);
    -webkit-transform: translateY(200%);
    -moz-transform: translateY(200%);
    -ms-transform: translateY(200%);
    -o-transform: translateY(200%);
}

.activeModal {
    transform: translateY(0);
    transition: all 0.5s ease-in;
}



/*----------- FOOTER ------------- */

footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: rgba( 204, 200, 200, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}